@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --black: #333;
  --white: #fff;
}

.dark {
  --black: #fff;
  --white: #333;
}

header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 40px 100px;
  z-index: 10000;
}

header .logo {
  position: relative;
  display: inline-flex;
  color: var(--black);
  text-decoration: none;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.rigSide {
  display: flex;
}

.btn {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
}

.btn ion-icon {
  font-size: 1.5em;
  color: var(--black);
}

.btn .menuToggle ion-icon {
  font-size: 3em;
}

.btn ion-icon:nth-child(2) {
  display: none;
}

.btn.active ion-icon:nth-child(2) {
  display: block;
}

.btn.active ion-icon:nth-child(1) {
  display: none;
}

.main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main video {
  position: absolute;
  top: 0;
  letter-spacing: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dark .mask {
  filter: invert(1);
  mix-blend-mode: multiply;
}

.mask {
  position: absolute;
  top: 0;
  letter-spacing: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  user-select: none;
  mix-blend-mode: screen;
}

.main h2 {
  position: relative;
  z-index: 3;
  font-size: 16vh;
  color: #fff;
  text-shadow: 0px 20px 30px rgba(0, 0, 0, 0.5);
}

.navigation {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--white);
  z-index: 4;
  transition: 0.5s;
}
.navigation.active {
  left: 0;
}

.navigation li {
  list-style: none;
}

.navigation li a {
  display: inline-flex;
  margin: 5px 0;
  font-size: 1.35rem;
  text-decoration: none;
  color: var(--black);
  padding: 5px 20px;
  border-radius: 40px;
}

.navigation li a:hover {
  background: var(--black);
  color: var(--white);
}

.copyRight {
  position: absolute;
  left: 100px;
  bottom: 40px;
  z-index: 4;
  font-weight: 500;
  font-size: 1.2em;
  color: var(--black);
}

.sci {
  position: absolute;
  right: 100px;
  bottom: 40px;
  z-index: 4;
  display: flex;
  flex-direction: column;
}

.sci li {
  list-style: none;
}

.sci li a {
  text-decoration: none;
  color: var(--black);
  font-size: 1.75em;
}

@media (max-width: 768px) {
  header {
    padding: 20px;
  }
  .copyRight {
    left: 20px;
    bottom: 30px;
  }
  .sci {
    right: 20px;
    bottom: 20px;
  }
}
